.main-div-headerPage {
    background-color: #8ea637; 
    padding: 10px;
}

.div-headerPage {
    display: flex; 
    justify-content: space-between;
}

.boxPage {
    display: flex;
    justify-content: center;
}

.main-div-bodyPage {
    padding: 10px;
}

.div-typography-bodyPage {
    padding: 20px;
}